/* monitors and laptops */

@media screen and (min-width: 970px) and (max-width: 1200px) {

}

@media screen and (min-width: 800px) and (max-width: 969px) {

    ul.menu {
        text-align: unset;
    }

    .items img {
        width: 100% !important;
        max-width: 95% !important;
    }

    div.items span {
        font-size: 16px !important;
    }

    span.product {
        width: 100% !important;
        max-width: 138px !important;
    }

    footer {
        background-size: contain !important;
    }

}

/* Медиа-запросы для различных размеров адаптивного макета */

@media screen and (min-width: 600px) and (max-width: 799px) {
    ul.menu {
        text-align: center;
        margin-left: 5%;
    }

    .menu_item a {
        font-size: 10px !important;
    }

    div .owl-theme .owl-dots {
        /*transform: rotate(90deg);*/
        top: 10% !important;
        left: 40% !important;

    }

    div.items span {
        font-size: 12px !important;
    }

    span.product {
        width: 100% !important;
        max-width: 138px !important;
    }

    .items img {
        width: 100% !important;
        max-width: 95% !important;
    }

    div.device_img {
        height: 100% !important;
    }

    div.connecting {
        max-width: 35% !important;
        bottom: 5px !important;
        left: 5px !important;
    }

    div.connecting a {
        font-size: 20px !important;
        line-height: 25px !important;
    }

    footer {
        background-size: contain !important;
    }

    div.footer-top {
        display: block !important;
    }

    div.footer-menu {

        max-width: 100% !important;
    }

    div.footer-menu ul li {

        text-align: center !important;
    }

    div.footer-menu ul li a {
        font-size: 10px;
    !important;

    }

    div.language ul li {
        max-width: 100% !important;
        text-align: center !important;

    }

    div.language ul {
        display: flex;

    }

    div.language {
        margin: auto !important;
        margin-top: 10px !important;

    }

    div.newsletter {
        display: block;
        margin: auto !important;
        margin-top: 10px !important;
    }

    div .email:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    div .email input {
        float: right;
        margin-right: 10px;
        max-width: 100% !important;
        width: 200px !important;
        display: block;

    }

    div .email img {

        right: 25px !important;
        top: 11px !important;
    }
}

@media screen and (min-width: 400px) and (max-width: 599px) {
    ul.menu {
        text-align: center;
        margin-left: 5%;
    }

    .menu_item a {
        font-size: 10px !important;
    }

    div.contact {

        font-size: 10px !important;
        padding-left: 0 !important;
    }

    .right-header > .menu_link {
        display: inline !important;
        justify-content: unset !important;
        position: relative !important;
    }

    input.search {
        max-width: 90% !important;
        line-height: 20px !important;
    }

    div.marker img {
        right: 15px !important;
        top: 5px !important;
    }

    .comment {
        float: right;
        margin-left: 10px;

    }

    .cart {
        float: right;
    }

    div.connecting {
        max-width: 35% !important;
        bottom: 5px !important;
        left: 5px !important;
    }

    div.connecting a {
        font-size: 20px !important;
        line-height: 25px !important;
    }

    div.items {
        display: inline !important;
    }

    footer {
        background-size: contain !important;
    }

    div.footer-top {
        display: block !important;
    }

    div.footer-menu {

        max-width: 100% !important;
    }

    div.footer-menu ul li {

        text-align: center !important;
    }

    div.footer-menu ul li a {
        font-size: 10px;
    !important;

    }

    div.language ul li {
        max-width: 100% !important;
        text-align: center !important;

    }

    div.language ul {
        display: flex;

    }

    div.language {
        margin: auto !important;
        margin-top: 10px !important;

    }

    div.newsletter {
        display: block;
        margin: auto !important;
        margin-top: 10px !important;
    }

    div .email:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    div .email input {
        float: right;
        margin-right: 10px;
        max-width: 100% !important;
        width: 200px !important;
        display: block;

    }

    div .email img {

        right: 25px !important;
        top: 11px !important;
    }

    .offer_img, .review_img {
        margin: 20px 0;
    }

    div.right_item {
        margin-top: 20px !important;
    }

    div .owl-theme .owl-dots {
        /*transform: rotate(90deg);*/
        top: 10% !important;
        left: 40% !important;

    }
}

@media only screen and (max-width: 399px) {

    header div.container {
        display: inline !important;
        justify-content: unset !important;
        align-items: unset !important;
    }

    .menu_item a {
        font-size: 10px !important;
    }

    ul.menu {
        text-align: unset !important;
        margin-left: unset !important;
        display: flex !important;
        justify-content: space-between !important;
        align-items: stretch !important;

    }

    header {
        line-height: unset !important;
        padding: unset !important;
        margin-bottom: 10px !important;
    }

    .center-header {
        margin: 20px 0 20px 0 !important;

        max-width: 100% !important;
    }

    .menu_item, .left-header, .contact {
        text-align: center !important;
    }

    .right-header > .menu_link {
        display: inline !important;
        justify-content: unset !important;
    }

    .contact {
        max-width: unset !important;
        margin: auto !important;
        margin-bottom: 15px !important;
        padding-left: 0 !important;
    }

    .right-header {
        max-width: unset !important;
    }

    input.search {
        max-width: 80%;
    }

    div.marker img {
        right: 42px !important;
    }

    .comment {
        float: right;
        margin-left: 10px;

    }

    .cart {
        float: right;

    }

    div .owl-theme .owl-dots {
        /*transform: rotate(90deg);*/
        top: 3% !important;
        left: 38% !important;

    }

    .owl-theme .owl-dots .owl-dot span {
        width: 5px !important;
        height: 5px !important;
    }

    div.items {
        display: inline !important;
    }

    footer {
        background-size: contain !important;
    }

    div.footer-top {
        display: inline !important;
    }

    div.footer-menu ul li {
        display: block !important;
        width: 100% !important;
        text-align: center !important;

    }

    div.footer-menu ul li a {
        font-size: 15px;
    !important;
    }

    div.language ul li {
        width: 100% !important;
        text-align: center !important;

    }

    div.language ul {
        display: flex;

    }

    div.language {
        margin: auto !important;
        margin-top: 20px !important;

    }

    div.newsletter {
        display: block;
        margin: auto !important;
        margin-top: 20px !important;
    }

    div .email input {
        max-width: 90% !important;
        width: 100% !important;
        display: block;
        margin: auto !important;
    }

    div .email img {
        right: 25px !important;
        top: 11px !important;
    }

    div.connecting {
        max-width: 35% !important;
        bottom: 5px !important;
        left: 5px !important;
    }

    div.connecting a {
        font-size: 13px !important;
        line-height: 13px !important;
    }

    .offer_img, .review_img {
        margin: 20px 0;
    }

    div.right_item {
        margin-top: 20px !important;
    }

}





