
@font-face {
    font-family: 'GothamMediumRegular';
    src: url('../fonts/GothamMediumRegular.eot');
    src: url('../fonts/GothamMediumRegular.eot') format('embedded-opentype'),
    url('../fonts/GothamMediumRegular.woff2') format('woff2'),
    url('../fonts/GothamMediumRegular.woff') format('woff'),
    url('../fonts/GothamMediumRegular.ttf') format('truetype'),
    url('../fonts/GothamMediumRegular.svg#GothamMediumRegular') format('svg');
}

* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
    -webkit-font-smoothing: antialiased;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a {
    outline: none;
    text-decoration: none;
    font-size: 11px;
    color: #2d2a2b;
}

img {
    border: none;
}

html {
    height: 100%;
}

header {
    line-height: 89px;
    margin: auto;
    display: flex;
    justify-content: space-around;

}

body {
    height: auto!important;
    background: url("../images/nyrius-home.png") no-repeat #000000;
    background-size: cover;
    font-size: 13px;
    color: white;


}

.container {
    width: 100%;
    max-width: 960px;
    margin: auto;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box;
}

.center-header {
    width: 100%;
    max-width: 250px;

        }

.menu {
    list-style: none;
    width: 100%;
    text-align: right;
    margin-left: 100px;
    font-family: 'GothamMediumRegular', sans-serif ;

}


.menu_item {
    display: inline-block;
    width: 45%;
}
.menu_item a {
    color: white;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;

}

.right-header {
    line-height: 0;
    width: 100%;
    max-width: 243px;

}

.contact {
    font-size: 10px;
    line-height: 24px;
    background-color: #303030;
    text-transform: uppercase ;
    margin-bottom: 7px;
    padding-left: 10px;
    max-width: 243px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'GothamMediumRegular', sans-serif ;
}

.menu_link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;

}
.marker{
    position: relative;
}
.marker img{
    position: absolute;
    right: 10px;
    top: 7px;
}
.search {

     line-height: 26px;
     max-width: 169px;
     width: 100%;
     background-color: #000000;
     color: white;
     border: none;
     padding-left: 10px;
     font-family: 'GothamMediumRegular', sans-serif ;
     box-sizing: border-box;

 }
.search:hover {
    -webkit-box-shadow: 0 0 10px 3px #2bb8df;
    box-shadow: 0 0 10px 3px #2bb8df;
}

.fa {
    font-size: 23px;
    color: #05abda;
    line-height: 30px;
}
.item {
    width: 100%;
    margin: auto;
    z-index: 1;
    position: relative;
}

.connecting {
    width: 100%;
    max-width: 216px;
    z-index: 2;
    background-color: #1782b4;
    text-align: center;
    position: absolute;
    left: 15px;
    bottom: 20px;

}
.carousel_link {
    color: white;
    font-size: 25px;
    font-family: 'GothamMediumRegular', sans-serif ;
    text-transform: uppercase;
    line-height: 58px;
    }

.items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: stretch;
}

.offer_img, .review_img {
    margin-top: 20px;

}  .banner {
    margin-bottom: 20px;
}

.items img{
    display: block;
    width: 100%;
}

.owl-theme .owl-nav {
    margin-top: 0;
     }

.left_item .offer_img {
    position: relative;

}
.scissors {
    display: block;
    position: absolute;
    top: 20px;
    margin-left: 21px;
}

.upper-offer {
    display: block;
    position: absolute;
    bottom: 53px;
    color: white;
    font-size: 25px;
    font-family: 'GothamMediumRegular', sans-serif;
    text-transform: uppercase;
    max-width: 204px;
    width: 100%;
    margin-left: 20px;
}

.middle-offer {
     display: block;
     position: absolute;
     bottom: 23px;
     color: white;
     font-size: 15px;
     font-family: 'GothamMediumRegular', sans-serif;
     text-transform: uppercase;
     max-width: 200px;
     width: 100%;
     margin-left: 20px;
 }
.bottom-offer {
    display: block;
    position: absolute;
    bottom: 20px;
    color: #127db0;
    font-size: 15px;
    font-family: 'GothamMediumRegular', sans-serif;
    text-transform: uppercase;
    max-width: 89px;
    width: 100%;
    margin-left: 135px;
    line-height: 23px;
    background: white;
    text-align: center;
}

.right_item .product_img {
    position: relative;
}
.bulb {
    display: block;
    position: absolute;
    top: 20px;
    margin-left: 19px;
}

.product {
    display: block;
    position: absolute;
    bottom: 19px;
    color: white;
    font-size: 25px;
    font-family: 'GothamMediumRegular', sans-serif;
    text-transform: uppercase;
    max-width: 170px;
    width: 100%;
    margin-left: 18px;
}

footer {
    background: url("../images/footer-background.png") no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 20px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 8px;
    line-height: 29px;

}
.footer-top a {
    color: #767776;
}

.footer-menu {

    max-width: 450px;
    width: 100%;
}

.footer-menu ul {
    list-style: none;
    font-size: 12px;
    font-family: 'GothamMediumRegular', sans-serif;
    text-transform: uppercase;
}

.footer-menu ul li {
    display: inline-block;
    width: 18%;

}

.language {
    max-width: 120px;
    width: 100%;
}

.language ul li {
    display: inline-block;
    width: 48%;
    font-size: 12px;
    text-align: left;
    font-family: 'GothamMediumRegular', sans-serif;
}

.newsletter {
    display: block;
    max-width: 90px;
    width: 100%;
    font-size: 12px;
    text-align: left;
    color: #adadad;
    font-family: 'GothamMediumRegular', sans-serif;
    text-transform: uppercase;
}
.email {
    position: relative;
}
.email img{
    position: absolute;
    right: 10px;
    top: 8px;
}
.email input {
    box-sizing: border-box;
    line-height: 29px;
    max-width: 208px;
    width: 100%;
    background-color: transparent;
    color: #adadad;
    border: none;
    padding-left: 10px;
    font-family: 'GothamMediumRegular', sans-serif ;
    border-radius: 15px;
    -webkit-box-shadow:inset 0 -1px 3px 1px #232323;
    box-shadow:inset 0 -1px 3px 1px #232323

}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    line-height: 20px;
    padding: 8px 0 8px 0;

}
.policy span {
    font-size: 11px;
    text-align: left;
    color: #404340;
    font-family: 'GothamMediumRegular', sans-serif;

}
.policy span a {
    text-align: center;
    color: #404340;
    font-family: 'GothamMediumRegular', sans-serif;
    font-size: 11px;
    margin-left: 10px;
}

.links .fa {
    font-size: 18px;
    color: #575757;
    line-height: 18px;
}
.footer-icon {
   margin-right: 8px;
}

.links .facebook .fa {
    font-size: 11px;
    color: #030303;
    line-height: 16px;

}
.facebook {
    background-color: #575757;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;


}


